mqtt_labscript/sistca_mqtt_ui_data/flows.json
[{"id":"f33f0198.0718a","type":"tab","label":"Backend Example","disabled":false,"info":""},{"id":"ae349f74.527f1","type":"tab","label":"TutorialExample","disabled":false,"info":""},{"id":"451f5652.5676b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b088d5dd.a1","type":"ui_group","z":"","name":"Machine[1] Data","tab":"451f5652.5676b8","order":3,"disp":true,"width":"8","collapse":true},{"id":"5d9915f.6b33bec","type":"mqtt-broker","z":"","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7090ef44.378bb","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#808080","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#c0c0c0","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Sistca_v1","default":"#4B7930","baseColor":"#3779aa","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#3779aa","edited":true},"page-titlebar-backgroundColor":{"value":"#3779aa","edited":true},"page-backgroundColor":{"value":"#c0c0c0","edited":true},"page-sidebar-backgroundColor":{"value":"#555555","edited":true},"group-textColor":{"value":"#3779aa","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#555555","edited":true},"widget-backgroundColor":{"value":"#7baed5","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"Arial Narrow,Nimbus Sans L,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"SISTCA MQTT UI 2019/20","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":3,"gy":3,"cx":3,"cy":3,"px":3,"py":3}}},{"id":"3a67ae5c.2f0112","type":"ui_tab","z":"","name":"History","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"f1b932b5.cdabd","type":"ui_group","z":"","name":"Machine1","tab":"3a67ae5c.2f0112","order":1,"disp":true,"width":"6","collapse":false},{"id":"5994e8c9.641b38","type":"ui_group","z":"","name":"Machine2","tab":"3a67ae5c.2f0112","order":2,"disp":true,"width":"6","collapse":false},{"id":"acbd2909.9e27f8","type":"ui_tab","z":"","name":"Controller","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a9e07e18.8f7b8","type":"ui_group","z":"","name":"Machine[1]","tab":"acbd2909.9e27f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f326f600.ece2c8","type":"ui_group","z":"","name":"Machine[2]","tab":"acbd2909.9e27f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"b050d66b.e63e08","type":"ui_group","z":"","name":"Machine[2] Data","tab":"451f5652.5676b8","order":4,"disp":true,"width":"8","collapse":true},{"id":"975e149a.5f33f8","type":"ui_group","z":"","name":"Factory Data","tab":"451f5652.5676b8","order":1,"disp":true,"width":"9","collapse":true},{"id":"4716e8fc.3fcd38","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8003db68.00c518","type":"ui_group","z":"","name":"Raw Materials","tab":"451f5652.5676b8","order":2,"disp":true,"width":"9","collapse":true},{"id":"1a1ead73.1014b3","type":"ui_link","z":"","name":"SISTCA","link":"https://moodle.isep.ipp.pt/course/view.php?id=8277","icon":"open_in_browser","target":"newtab","order":6},{"id":"177a3a33.4076d6","type":"ui_spacer","name":"spacer","group":"b088d5dd.a1","order":6,"width":8,"height":1},{"id":"89c0db28.7534b8","type":"ui_spacer","name":"spacer","group":"b088d5dd.a1","order":10,"width":8,"height":1},{"id":"dadea2b1.9dd06","type":"ui_spacer","name":"spacer","group":"b088d5dd.a1","order":12,"width":1,"height":1},{"id":"b9b8a8af.c26608","type":"ui_spacer","name":"spacer","group":"b088d5dd.a1","order":17,"width":1,"height":1},{"id":"f877dcac.fea88","type":"ui_spacer","name":"spacer","group":"975e149a.5f33f8","order":5,"width":9,"height":1},{"id":"92257c3f.f49e1","type":"ui_tab","z":"","name":"Help","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"7a26c9fa.012e38","type":"ui_group","z":"","name":"Tutorials","tab":"92257c3f.f49e1","order":1,"disp":true,"width":"12","collapse":true},{"id":"e122abdc.5e19a8","type":"ui_group","z":"","name":"Contact","tab":"92257c3f.f49e1","order":2,"disp":true,"width":"9","collapse":true},{"id":"59e548b3.f9ab28","type":"ui_group","z":"","name":"Factory","tab":"3a67ae5c.2f0112","order":3,"disp":true,"width":"6","collapse":false},{"id":"3f0351ea.9daf1e","type":"ui_tab","z":"","name":"Log","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"778040ce.846aa","type":"ui_group","z":"","name":"Factory Topics","tab":"3f0351ea.9daf1e","order":1,"disp":true,"width":"8","collapse":true},{"id":"a5addb93.565228","type":"ui_group","z":"","name":"Machines Topics","tab":"3f0351ea.9daf1e","order":2,"disp":true,"width":"8","collapse":true},{"id":"734336e4.1e8da8","type":"ui_group","z":"","name":"Broker Topics","tab":"3f0351ea.9daf1e","order":3,"disp":true,"width":"8","collapse":true},{"id":"288ecc4f.b838f4","type":"ui_spacer","name":"spacer","group":"b050d66b.e63e08","order":11,"width":1,"height":1},{"id":"2c730f3a.6ef35","type":"ui_spacer","name":"spacer","group":"b050d66b.e63e08","order":5,"width":"8","height":1},{"id":"2c6448d5.2ec588","type":"ui_spacer","name":"spacer","group":"b050d66b.e63e08","order":9,"width":"8","height":1},{"id":"854ad64b.ae546","type":"ui_text","z":"f33f0198.0718a","group":"b088d5dd.a1","order":3,"width":2,"height":1,"name":"","label":"State","format":"{{msg.payload}}","layout":"col-center","x":810,"y":540,"wires":[]},{"id":"8e4f3f49.a20a2","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/factory/current/temperature/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":200,"y":240,"wires":[["9e98cd66.a4d4","5eb49c42.f89724","ae679168.252a9"]]},{"id":"c31497e.2256468","type":"mqtt out","z":"f33f0198.0718a","name":"","topic":"sistca/machines/1/alldata/","qos":"0","retain":"false","broker":"5d9915f.6b33bec","x":610,"y":2541,"wires":[]},{"id":"8d790121.602ce","type":"inject","z":"f33f0198.0718a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":2541,"wires":[["f66a1f52.cd105"]]},{"id":"f66a1f52.cd105","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = '{\"temperature\": 21, \"humidity\": 70, \"pressure\":1023, \"production\": 313, \"defects\": 10, \"update\":' + msg.payload + '}';\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":2541,"wires":[["c31497e.2256468","d34fc154.8cf1"]]},{"id":"d34fc154.8cf1","type":"debug","z":"f33f0198.0718a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":2599,"wires":[]},{"id":"9e98cd66.a4d4","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Temperature","tooltip":"","group":"b088d5dd.a1","order":13,"width":2,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":790,"y":440,"wires":[[]]},{"id":"b21d531b.def5d","type":"mqtt out","z":"f33f0198.0718a","name":"","topic":"sistca/machines/1/state/","qos":"0","retain":"false","broker":"5d9915f.6b33bec","x":530,"y":1980,"wires":[]},{"id":"d5e98a16.1d20a","type":"ui_switch","z":"f33f0198.0718a","name":"","label":"State","tooltip":"","group":"a9e07e18.8f7b8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":1980,"wires":[["8de4fcf9.a65f9"]]},{"id":"66898412.57d68c","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/1/state/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":180,"y":520,"wires":[["854ad64b.ae546"]]},{"id":"5b3377d1.3b9c78","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/1/hourproduction/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":220,"y":780,"wires":[["faed162f.3070e8"]]},{"id":"e1c72a20.2cafc8","type":"ui_button","z":"f33f0198.0718a","name":"","group":"975e149a.5f33f8","order":8,"width":3,"height":1,"passthru":false,"label":"Clear Data","tooltip":"Use this button to wipe all machine data","color":"","bgcolor":"#a4a4a4","icon":"","payload":" ","payloadType":"str","topic":"","x":170,"y":420,"wires":[["9e98cd66.a4d4","8b22e427.493258","f79bb76a.6cf808","5cf1186d.b0cc68","c2b7e4a3.45bcf8","51de7418.f3c0ac","ffb4c4b3.fa5f18","63546ea2.de136","2774b4e2.89cd5c","5eb49c42.f89724","9268edb.d511a1","14d49039.4ee06","faaf3466.2922e8","edf570b8.7884a","9e7b8cd8.2457b","4c70756.e768e8c","56d6d3.4088092c","ae679168.252a9","a6e70e67.da2b4","63c1130c.e6be0c"]]},{"id":"8b22e427.493258","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":880,"wires":[["faed162f.3070e8"]]},{"id":"f01eb169.a2f0e","type":"ui_chart","z":"f33f0198.0718a","name":"","group":"59e548b3.f9ab28","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1150,"y":1680,"wires":[[]]},{"id":"c2c33b.fe4d0cc8","type":"ui_button","z":"f33f0198.0718a","name":"","group":"59e548b3.f9ab28","order":4,"width":"4","height":"1","passthru":false,"label":"Insert Random Data","tooltip":"Fill with random data","color":"","bgcolor":"","icon":"","payload":"20.3","payloadType":"num","topic":"","x":160,"y":1680,"wires":[["efd420ec.e857b","570d2564.4c950c","2847e772.588048"]]},{"id":"efd420ec.e857b","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (50-20) + 20);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1680,"wires":[["f01eb169.a2f0e"]]},{"id":"546418dd.e67428","type":"trigger","z":"f33f0198.0718a","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-2","extend":false,"units":"s","reset":"false","bytopic":"all","name":"","x":380,"y":1740,"wires":[["efd420ec.e857b","570d2564.4c950c","2847e772.588048"]]},{"id":"fab7de65.e8d05","type":"ui_switch","z":"f33f0198.0718a","name":"","label":"Simulate Working Data","tooltip":"Fill with random data every 2 seconds","group":"59e548b3.f9ab28","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":1740,"wires":[["546418dd.e67428"]]},{"id":"b656bb1c.ff6068","type":"inject","z":"f33f0198.0718a","name":"","topic":"","payload":"1586949136844, 15","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":1640,"wires":[["f01eb169.a2f0e"]]},{"id":"827eed0f.cf364","type":"ui_button","z":"f33f0198.0718a","name":"","group":"975e149a.5f33f8","order":7,"width":6,"height":1,"passthru":false,"label":"Insert Random Data","tooltip":"Fill with random data","color":"","bgcolor":"","icon":"","payload":"20.3","payloadType":"num","topic":"","x":160,"y":380,"wires":[["1905fe86.db9e51","de788ac9.ac9608","854b5858.991818","125dfe33.343c12","e7bb1010.1dced","4b550f02.91449","43c24c91.cb48d4","efde6871.a3d1c8","956341c.dbfedc","77c83f3b.ae229","a8fb70c.783f19","4bd8fc2c.2885f4","e9d6084.09343f8","c2d27743.92d6c8","27293a1f.3a5906"]]},{"id":"1905fe86.db9e51","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (300) + 200);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":840,"wires":[["faed162f.3070e8"]]},{"id":"de788ac9.ac9608","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (30-20) + 20);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["9e98cd66.a4d4","5eb49c42.f89724","ae679168.252a9"]]},{"id":"e6602110.c5a3f","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/1/onlinehours/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":210,"y":580,"wires":[["5cf1186d.b0cc68"]]},{"id":"5ef3131e.6fa09c","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/1/maintenancehours/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":230,"y":660,"wires":[["c2b7e4a3.45bcf8"]]},{"id":"73ec3099.9d371","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/factory/current/humidity/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":180,"y":160,"wires":[["f79bb76a.6cf808","63546ea2.de136","56d6d3.4088092c"]]},{"id":"854b5858.991818","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (100-50) + 10);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":191,"wires":[["f79bb76a.6cf808","63546ea2.de136","56d6d3.4088092c"]]},{"id":"f79bb76a.6cf808","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Humidity","tooltip":"","group":"b088d5dd.a1","order":14,"width":2,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":800,"y":400,"wires":[[]]},{"id":"e7c76190.09c59","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/factory/current/pressure/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":190,"y":80,"wires":[["9e7b8cd8.2457b","2774b4e2.89cd5c","4c70756.e768e8c"]]},{"id":"125dfe33.343c12","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (30) + 1010);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["9e7b8cd8.2457b","2774b4e2.89cd5c","4c70756.e768e8c"]]},{"id":"9e7b8cd8.2457b","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"At. Pressure","tooltip":"","group":"b088d5dd.a1","order":15,"width":2,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":790,"y":360,"wires":[[]]},{"id":"5cf1186d.b0cc68","type":"ui_text","z":"f33f0198.0718a","group":"b088d5dd.a1","order":4,"width":"3","height":1,"name":"","label":"Online [h]","format":"{{msg.payload}}","layout":"col-center","x":800,"y":580,"wires":[]},{"id":"c2b7e4a3.45bcf8","type":"ui_text","z":"f33f0198.0718a","group":"b088d5dd.a1","order":5,"width":3,"height":1,"name":"","label":"Maintenance [h]","format":"{{msg.payload}}","layout":"col-center","x":780,"y":620,"wires":[]},{"id":"e7bb1010.1dced","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (60) + 100);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":620,"wires":[["5cf1186d.b0cc68"]]},{"id":"4b550f02.91449","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (60) + 10);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":680,"wires":[["c2b7e4a3.45bcf8"]]},{"id":"7672dcf.77d4f24","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/1/percdefects/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":210,"y":980,"wires":[["aff0b368.005f4"]]},{"id":"51de7418.f3c0ac","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1040,"wires":[["aff0b368.005f4"]]},{"id":"43c24c91.cb48d4","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (100));\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1000,"wires":[["aff0b368.005f4"]]},{"id":"afc3c84f.e81b98","type":"ui_template","z":"f33f0198.0718a","group":"b088d5dd.a1","name":"General","order":1,"width":8,"height":1,"format":"<p style=\"text-align: center;\"><b>General</b></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":500,"wires":[[]]},{"id":"ed07d965.260b68","type":"ui_template","z":"f33f0198.0718a","group":"b088d5dd.a1","name":"Environmental Conditions","order":11,"width":8,"height":1,"format":"<p style=\"text-align: center;\"><b>Environmental Conditions</b></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":830,"y":320,"wires":[[]]},{"id":"2fe00a0b.55f356","type":"ui_template","z":"f33f0198.0718a","group":"b088d5dd.a1","name":"Production Data","order":7,"width":8,"height":1,"format":"<p style=\"text-align: center;\"><b>Production Data</b></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":780,"wires":[[]]},{"id":"5aea4c82.0cc494","type":"ui_template","z":"f33f0198.0718a","group":"975e149a.5f33f8","name":"Data Control","order":6,"width":9,"height":1,"format":"<p style=\"text-align: center;\"><b>Data Control</b></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":170,"y":340,"wires":[[]]},{"id":"ffb4c4b3.fa5f18","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1160,"wires":[["dcb5312f.55cb5"]]},{"id":"efde6871.a3d1c8","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (500-20)+200);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1120,"wires":[["dcb5312f.55cb5"]]},{"id":"dcb5312f.55cb5","type":"ui_artlessgauge","z":"f33f0198.0718a","group":"8003db68.00c518","order":4,"width":"3","height":"1","name":"water_gauge","icon":"","label":"Water","unit":"l","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"sectors":[{"val":0,"col":"#7baed5","t":"min","dot":0},{"val":1000,"col":"#7baed5","t":"max","dot":4}],"bgcolorFromTheme":true,"x":650,"y":1100,"wires":[]},{"id":"5eb49c42.f89724","type":"ui_artlessgauge","z":"f33f0198.0718a","group":"975e149a.5f33f8","order":2,"width":3,"height":3,"name":"","icon":"","label":"Temperature","unit":"ºC","layout":"radial","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"sectors":[{"val":0,"col":"#95cb85","t":"min","dot":1},{"val":26,"col":"#ffc880","t":"sec","dot":3},{"val":37,"col":"#ff6666","t":"sec","dot":4},{"val":50,"col":"#ff6666","t":"max","dot":5}],"bgcolorFromTheme":true,"x":700,"y":260,"wires":[]},{"id":"63546ea2.de136","type":"ui_artlessgauge","z":"f33f0198.0718a","group":"975e149a.5f33f8","order":3,"width":3,"height":3,"name":"","icon":"","label":"Humidity","unit":"%","layout":"radial","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"sectors":[{"val":0,"col":"#ffc880","t":"min","dot":0},{"val":30,"col":"#95cb85","t":"sec","dot":3},{"val":80,"col":"#95cb85","t":"sec","dot":0},{"val":81,"col":"#ffc880","t":"sec","dot":3},{"val":90,"col":"#ff6666","t":"sec","dot":4},{"val":100,"col":"#ff6666","t":"max","dot":5}],"bgcolorFromTheme":true,"x":700,"y":180,"wires":[]},{"id":"2774b4e2.89cd5c","type":"ui_artlessgauge","z":"f33f0198.0718a","group":"975e149a.5f33f8","order":4,"width":3,"height":3,"name":"","icon":"","label":"At. Pressure","unit":"hPa","layout":"radial","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"sectors":[{"val":950,"col":"#ff6666","t":"min","dot":4},{"val":999,"col":"#ff6666","t":"sec","dot":0},{"val":1000,"col":"#95cb85","t":"sec","dot":3},{"val":1051,"col":"#ff6666","t":"sec","dot":4},{"val":1060,"col":"#ff6666","t":"max","dot":5}],"bgcolorFromTheme":true,"x":700,"y":80,"wires":[]},{"id":"b2640251.8792e","type":"ui_template","z":"f33f0198.0718a","group":"975e149a.5f33f8","name":"Environmental Conditions","order":1,"width":9,"height":1,"format":"<p style=\"text-align: center;\"><b>Environmental Conditions</b></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":40,"wires":[[]]},{"id":"aff0b368.005f4","type":"ui_artlessgauge","z":"f33f0198.0718a","group":"b088d5dd.a1","order":9,"width":4,"height":2,"name":"Defective_Products","icon":"","label":"Defective Products [%]","unit":"%","layout":"linear","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"sectors":[{"val":0,"col":"#95cb85","t":"min","dot":1},{"val":15,"col":"#ffc880","t":"sec","dot":2},{"val":26,"col":"#ff6666","t":"sec","dot":2},{"val":100,"col":"#ff6666","t":"max","dot":3}],"bgcolorFromTheme":true,"x":710,"y":980,"wires":[]},{"id":"faed162f.3070e8","type":"ui_artlessgauge","z":"f33f0198.0718a","group":"b088d5dd.a1","order":8,"width":4,"height":2,"name":"Products_Hour","icon":"","label":"Products per Hour","unit":"units","layout":"linear","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"sectors":[{"val":0,"col":"#ff6666","t":"min","dot":1},{"val":500,"col":"#ffc880","t":"sec","dot":1},{"val":800,"col":"#95cb85","t":"sec","dot":2},{"val":1000,"col":"#95cb85","t":"max","dot":3}],"bgcolorFromTheme":true,"x":700,"y":820,"wires":[]},{"id":"de42dd74.79719","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/factory/current/rawmats/water/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":220,"y":1100,"wires":[["dcb5312f.55cb5"]]},{"id":"9268edb.d511a1","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1260,"wires":[["189542cd.df033d"]]},{"id":"77c83f3b.ae229","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (500-20)+200);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1220,"wires":[["189542cd.df033d"]]},{"id":"189542cd.df033d","type":"ui_artlessgauge","z":"f33f0198.0718a","group":"8003db68.00c518","order":5,"width":"3","height":"1","name":"cotton_gauge","icon":"","label":"Cotton","unit":"kg","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"sectors":[{"val":0,"col":"#d6a7e6","t":"min","dot":0},{"val":1000,"col":"#d6a7e6","t":"max","dot":4}],"bgcolorFromTheme":true,"x":660,"y":1200,"wires":[]},{"id":"10700cff.4a1d33","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/factory/current/rawmats/cotton/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":230,"y":1200,"wires":[["189542cd.df033d"]]},{"id":"14d49039.4ee06","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1360,"wires":[["47d4a4b5.6447fc"]]},{"id":"956341c.dbfedc","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (500-20)+200);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1320,"wires":[["47d4a4b5.6447fc"]]},{"id":"47d4a4b5.6447fc","type":"ui_artlessgauge","z":"f33f0198.0718a","group":"8003db68.00c518","order":6,"width":"3","height":"1","name":"latex_gauge","icon":"","label":"Latex","unit":"kg","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"sectors":[{"val":0,"col":"#eccf72","t":"min","dot":0},{"val":1000,"col":"#eccf72","t":"max","dot":4}],"bgcolorFromTheme":true,"x":650,"y":1300,"wires":[]},{"id":"698e784e.b010e8","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/factory/current/rawmats/latex/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":220,"y":1300,"wires":[["47d4a4b5.6447fc"]]},{"id":"97b5ba6a.da1df8","type":"ui_template","z":"f33f0198.0718a","group":"8003db68.00c518","name":"raw_materials","order":2,"width":"3","height":"2","format":"<p style=\"text-align: left;\">Basic raw materials to produce goods.</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":1060,"wires":[[]]},{"id":"faaf3466.2922e8","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1460,"wires":[["ed9fdc3b.90aea"]]},{"id":"a8fb70c.783f19","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (500-20)+200);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1420,"wires":[["ed9fdc3b.90aea"]]},{"id":"ed9fdc3b.90aea","type":"ui_artlessgauge","z":"f33f0198.0718a","group":"8003db68.00c518","order":7,"width":"3","height":"1","name":"wood_gauge","icon":"","label":"Wood","unit":"kg","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","colorFromTheme":true,"sectors":[{"val":0,"col":"#ff8080","t":"min","dot":0},{"val":1000,"col":"#ff8080","t":"max","dot":4}],"bgcolorFromTheme":true,"x":650,"y":1400,"wires":[]},{"id":"3c703ca.aa6f8c4","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/factory/current/rawmats/wood/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":220,"y":1400,"wires":[["ed9fdc3b.90aea"]]},{"id":"80ea1179.278dd","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1860,"wires":[["f01eb169.a2f0e","2322af58.89556","69bb44d4.0beb7c"]]},{"id":"958ee40b.7bf058","type":"ui_button","z":"f33f0198.0718a","name":"","group":"59e548b3.f9ab28","order":8,"width":"2","height":1,"passthru":false,"label":"Clear Data","tooltip":"Use this button to wipe all machine data","color":"","bgcolor":"#a4a4a4","icon":"","payload":" ","payloadType":"str","topic":"","x":190,"y":1800,"wires":[["80ea1179.278dd"]]},{"id":"b160b950.9c1598","type":"ui_media","z":"f33f0198.0718a","group":"7a26c9fa.012e38","name":"","width":12,"height":6,"order":2,"category":"video","file":"video1.mp4","layout":"adjust","showcontrols":true,"loop":false,"onstart":true,"scope":"local","tooltip":"","x":110,"y":2241,"wires":[[]]},{"id":"c1867659.9e2d68","type":"ui_form","z":"f33f0198.0718a","name":"","label":"Send Message","group":"e122abdc.5e19a8","order":1,"width":9,"height":5,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"E-mail","value":"email","type":"email","required":true,"rows":null},{"label":"Message","value":"message","type":"multiline","required":true,"rows":3}],"formValue":{"name":"","email":"","message":""},"payload":"","submit":"submit","cancel":"cancel","topic":"sistca/help/emails","x":300,"y":2241,"wires":[["c140f2a9.39ee8"]]},{"id":"70ec54e3.ff28ec","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = { \"name\": \"\", \"email\": \"\", \"message\": \"\"};\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2321,"wires":[["c1867659.9e2d68"]]},{"id":"b5514013.3c396","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = \"Message sent to MQTT.<br>You need to implement E-mail function!\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2241,"wires":[["db4eb9b2.670c48","d12d2f7.713ded","14dbbbea.7c8cc4"]]},{"id":"db4eb9b2.670c48","type":"delay","z":"f33f0198.0718a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":2341,"wires":[["70ec54e3.ff28ec","b0ac4682.bef228"]]},{"id":"c140f2a9.39ee8","type":"delay","z":"f33f0198.0718a","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":2241,"wires":[["b5514013.3c396","4a983c3e.7f9894"]]},{"id":"2322af58.89556","type":"ui_chart","z":"f33f0198.0718a","name":"","group":"59e548b3.f9ab28","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1140,"y":1740,"wires":[[]]},{"id":"69bb44d4.0beb7c","type":"ui_chart","z":"f33f0198.0718a","name":"","group":"59e548b3.f9ab28","order":0,"width":0,"height":0,"label":"At. Pressure","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"1000","ymax":"1100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1150,"y":1800,"wires":[[]]},{"id":"570d2564.4c950c","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (100-50) + 10);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1740,"wires":[["2322af58.89556"]]},{"id":"2847e772.588048","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (30) + 1010);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1800,"wires":[["69bb44d4.0beb7c"]]},{"id":"593b5479.47aacc","type":"inject","z":"f33f0198.0718a","name":"","topic":"","payload":"{ \"name\": \"\", \"email\": \"\", \"message\": \"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2301,"wires":[["c1867659.9e2d68"]]},{"id":"b0ac4682.bef228","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2361,"wires":[["d12d2f7.713ded"]]},{"id":"d12d2f7.713ded","type":"ui_template","z":"f33f0198.0718a","group":"e122abdc.5e19a8","name":"","order":2,"width":0,"height":0,"format":"<b>\n    <div ng-bind-html=\"msg.payload\" style=\"color: #95cb85; text-align: center;\">\n        \n    </div>\n</b>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":2301,"wires":[[]]},{"id":"4a983c3e.7f9894","type":"mqtt out","z":"f33f0198.0718a","name":"","topic":"sistca/factory/history/emails/","qos":"0","retain":"false","broker":"5d9915f.6b33bec","x":940,"y":2241,"wires":[]},{"id":"f06e553.de0a7a8","type":"comment","z":"f33f0198.0718a","name":"help_section","info":"# Help Section","x":130,"y":2141,"wires":[]},{"id":"680c0bc4.a6fd44","type":"comment","z":"f33f0198.0718a","name":"tests_section","info":"# Tests Section\nDo your tests here, changing the Topic and JSON messages.","x":130,"y":2481,"wires":[]},{"id":"5055f587.c0cd9c","type":"comment","z":"f33f0198.0718a","name":"controller_section","info":"# Controller Section","x":140,"y":1920,"wires":[]},{"id":"f8f88af7.003458","type":"comment","z":"f33f0198.0718a","name":"history_section","info":"# History Section","x":140,"y":1580,"wires":[]},{"id":"511268e3.11d568","type":"comment","z":"f33f0198.0718a","name":"home_section","info":"# Home Section","x":130,"y":20,"wires":[]},{"id":"41c42c5b.f0e474","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/factory/history/temperature/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":870,"y":1620,"wires":[["f01eb169.a2f0e"]]},{"id":"f3b80a3d.69b388","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/factory/history/humidity/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":880,"y":1760,"wires":[["2322af58.89556"]]},{"id":"8aae9021.0b68a","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/factory/history/pressure/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":880,"y":1900,"wires":[["69bb44d4.0beb7c"]]},{"id":"bf46767b.8d6fa8","type":"comment","z":"f33f0198.0718a","name":"log_section","info":"# Log Section\nIn this section you can find all messages exchanged in the input/output topics.","x":130,"y":2681,"wires":[]},{"id":"cee2b55d.8304d8","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/factory/#","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":140,"y":2801,"wires":[["a6c1d46f.5a9628"]]},{"id":"14dbbbea.7c8cc4","type":"ui_toast","z":"f33f0198.0718a","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":930,"y":2341,"wires":[[]]},{"id":"a6c1d46f.5a9628","type":"function","z":"f33f0198.0718a","name":"","func":"if(msg.payload === false) return null;\n\nvar msg1 = { payload: msg.topic };\nvar msg2 = { payload: msg.payload };\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":470,"y":2801,"wires":[["3a7e3f6a.439ee"],["5cefebe4.baf324"]]},{"id":"3a7e3f6a.439ee","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Msg_Topic: ","tooltip":"","group":"778040ce.846aa","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"30","topic":"","x":690,"y":2761,"wires":[[]]},{"id":"5cefebe4.baf324","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Msg_Payload: ","tooltip":"","group":"778040ce.846aa","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"30","topic":"","x":700,"y":2841,"wires":[[]]},{"id":"e7bb920d.6843c","type":"function","z":"f33f0198.0718a","name":"","func":"var msg1 = { payload: msg.topic };\nvar msg2 = { payload: msg.payload };\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":470,"y":2961,"wires":[["3dd6fcd.6ad7d04"],["3705fba7.8fe2a4"]]},{"id":"3dd6fcd.6ad7d04","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Msg_Topic: ","tooltip":"","group":"a5addb93.565228","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"30","topic":"","x":690,"y":2941,"wires":[[]]},{"id":"3705fba7.8fe2a4","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Msg_Payload: ","tooltip":"","group":"a5addb93.565228","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"30","topic":"","x":700,"y":2981,"wires":[[]]},{"id":"e89ac787.159cb8","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/+/state","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":160,"y":3021,"wires":[["c8254122.d9454"]]},{"id":"60944058.f39b","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/#","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":150,"y":2961,"wires":[["e7bb920d.6843c"]]},{"id":"1caeff07.3b44b1","type":"function","z":"f33f0198.0718a","name":"","func":"var msg1 = { payload: msg.topic };\nvar msg2 = { payload: msg.payload };\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":470,"y":3181,"wires":[["7ea58693.94b448"],["3e904eb9.f77c12"]]},{"id":"7ea58693.94b448","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Msg_Topic: ","tooltip":"","group":"734336e4.1e8da8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"30","topic":"","x":690,"y":3181,"wires":[[]]},{"id":"3e904eb9.f77c12","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Msg_Payload: ","tooltip":"","group":"734336e4.1e8da8","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"30","topic":"","x":700,"y":3221,"wires":[[]]},{"id":"f3d54acb.0bb348","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"$SYS/#","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":110,"y":3181,"wires":[["1caeff07.3b44b1","3e904eb9.f77c12"]]},{"id":"f2e1fa16.057528","type":"ui_button","z":"f33f0198.0718a","name":"","group":"734336e4.1e8da8","order":4,"width":"0","height":"0","passthru":false,"label":"Clear Data","tooltip":"Use this button to wipe all machine data","color":"","bgcolor":"#a4a4a4","icon":"","payload":" ","payloadType":"str","topic":"","x":130,"y":3241,"wires":[["7ea58693.94b448","3e904eb9.f77c12"]]},{"id":"9962d91.52c4b28","type":"ui_button","z":"f33f0198.0718a","name":"","group":"778040ce.846aa","order":4,"width":"0","height":"0","passthru":false,"label":"Clear Data","tooltip":"Use this button to wipe all machine data","color":"","bgcolor":"#a4a4a4","icon":"","payload":" ","payloadType":"str","topic":"","x":130,"y":2861,"wires":[["3a7e3f6a.439ee","5cefebe4.baf324"]]},{"id":"748246a2.e47d48","type":"ui_button","z":"f33f0198.0718a","name":"","group":"a5addb93.565228","order":7,"width":"0","height":"0","passthru":false,"label":"Clear Data","tooltip":"Use this button to wipe all machine data","color":"","bgcolor":"#a4a4a4","icon":"","payload":" ","payloadType":"str","topic":"","x":130,"y":3081,"wires":[["3dd6fcd.6ad7d04","3705fba7.8fe2a4","8a00ae81.0a8d2","7ee2cc7a.0f2304"]]},{"id":"f39c2a94.2bc668","type":"ui_template","z":"f33f0198.0718a","group":"778040ce.846aa","name":"all_factory_msg","order":1,"width":8,"height":1,"format":"<p style=\"text-align: center;\"><b>All Factory Messages</b><br>(using Wildcard '#')</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":2721,"wires":[[]]},{"id":"5b1a1483.8c0e0c","type":"ui_template","z":"f33f0198.0718a","group":"a5addb93.565228","name":"all_machines_msg","order":1,"width":8,"height":1,"format":"<p style=\"text-align: center;\"><b>All Machines Messages</b><br>(using Wildcard '#')</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":710,"y":2901,"wires":[[]]},{"id":"c8254122.d9454","type":"function","z":"f33f0198.0718a","name":"","func":"var msg1 = { payload: msg.topic };\nvar msg2 = { payload: msg.payload };\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":470,"y":3081,"wires":[["8a00ae81.0a8d2"],["7ee2cc7a.0f2304"]]},{"id":"8a00ae81.0a8d2","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Msg_Topic: ","tooltip":"","group":"a5addb93.565228","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":"30","topic":"","x":690,"y":3061,"wires":[[]]},{"id":"7ee2cc7a.0f2304","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Msg_Payload: ","tooltip":"","group":"a5addb93.565228","order":6,"width":0,"height":0,"passthru":false,"mode":"text","delay":"30","topic":"","x":700,"y":3101,"wires":[[]]},{"id":"3a09ca41.6134e6","type":"ui_template","z":"f33f0198.0718a","group":"a5addb93.565228","name":"states_msg","order":4,"width":8,"height":1,"format":"<p style=\"text-align: center;\"><b>Machines state</b><br>(using Wildcard '+')</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":3021,"wires":[[]]},{"id":"43543db9.4d0e04","type":"ui_template","z":"f33f0198.0718a","group":"734336e4.1e8da8","name":"broker_msg","order":1,"width":8,"height":1,"format":"<p style=\"text-align: center;\"><b>Broker Information</b><br>(using Wildcard '$')</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":3141,"wires":[[]]},{"id":"1ae5b89.4409547","type":"ui_template","z":"f33f0198.0718a","group":"7a26c9fa.012e38","name":"dashboard_msg","order":1,"width":12,"height":1,"format":"<p style=\"text-align: center; color: white; background: #7baed5;\">Dashboard Overview</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":2201,"wires":[[]]},{"id":"cc94fac3.bd9418","type":"ui_template","z":"f33f0198.0718a","group":"7a26c9fa.012e38","name":"mqtt_msg","order":3,"width":12,"height":1,"format":"<p style=\"text-align: center; color: white; background: #7baed5;\">MQTT Explorer<br></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":2361,"wires":[[]]},{"id":"1eef7dd3.ec3d62","type":"ui_text","z":"f33f0198.0718a","group":"b050d66b.e63e08","order":2,"width":2,"height":1,"name":"","label":"State","format":"{{msg.payload}}","layout":"col-center","x":1710,"y":540,"wires":[]},{"id":"1325ca27.01e2e6","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/2/state/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":1080,"y":520,"wires":[["1eef7dd3.ec3d62"]]},{"id":"a2e3df5e.aff8b","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/2/hourproduction/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":1120,"y":780,"wires":[["1a51924c.d5b0ae"]]},{"id":"edf570b8.7884a","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":880,"wires":[["1a51924c.d5b0ae"]]},{"id":"e9d6084.09343f8","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (300) + 200);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":840,"wires":[["1a51924c.d5b0ae"]]},{"id":"5ebe7b7c.4d7764","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/2/onlinehours/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":1110,"y":580,"wires":[["3da3ef77.7728b"]]},{"id":"d847b110.f0be2","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/2/maintenancehours/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":1130,"y":660,"wires":[["63c1130c.e6be0c"]]},{"id":"3da3ef77.7728b","type":"ui_text","z":"f33f0198.0718a","group":"b050d66b.e63e08","order":3,"width":"3","height":1,"name":"","label":"Online [h]","format":"{{msg.payload}}","layout":"col-center","x":1700,"y":580,"wires":[]},{"id":"63c1130c.e6be0c","type":"ui_text","z":"f33f0198.0718a","group":"b050d66b.e63e08","order":4,"width":3,"height":1,"name":"","label":"Maintenance [h]","format":"{{msg.payload}}","layout":"col-center","x":1680,"y":620,"wires":[]},{"id":"4bd8fc2c.2885f4","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (60) + 100);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":620,"wires":[["3da3ef77.7728b"]]},{"id":"27293a1f.3a5906","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (60) + 10);\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":680,"wires":[["63c1130c.e6be0c"]]},{"id":"4451a851.fc5e78","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/1/percdefects/","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":1110,"y":980,"wires":[["8f765f97.5ada4"]]},{"id":"c2d27743.92d6c8","type":"function","z":"f33f0198.0718a","name":"","func":"var rnb = Math.floor ( Math.random() * (100));\n\nmsg.payload = rnb;\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":1000,"wires":[["8f765f97.5ada4"]]},{"id":"f4dc86e4.c95878","type":"ui_template","z":"f33f0198.0718a","group":"b050d66b.e63e08","name":"General","order":1,"width":8,"height":1,"format":"<p style=\"text-align: center;\"><b>General</b></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1700,"y":500,"wires":[[]]},{"id":"b0dfd30d.f1935","type":"ui_template","z":"f33f0198.0718a","group":"b050d66b.e63e08","name":"Production Data","order":6,"width":8,"height":1,"format":"<p style=\"text-align: center;\"><b>Production Data</b></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1600,"y":780,"wires":[[]]},{"id":"8f765f97.5ada4","type":"ui_artlessgauge","z":"f33f0198.0718a","group":"b050d66b.e63e08","order":8,"width":4,"height":2,"name":"Defective_Products","icon":"","label":"Defective Products [%]","unit":"%","layout":"linear","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"sectors":[{"val":0,"col":"#95cb85","t":"min","dot":1},{"val":15,"col":"#ffc880","t":"sec","dot":2},{"val":26,"col":"#ff6666","t":"sec","dot":2},{"val":100,"col":"#ff6666","t":"max","dot":3}],"bgcolorFromTheme":true,"x":1610,"y":980,"wires":[]},{"id":"1a51924c.d5b0ae","type":"ui_artlessgauge","z":"f33f0198.0718a","group":"b050d66b.e63e08","order":7,"width":4,"height":2,"name":"Products_Hour","icon":"","label":"Products per Hour","unit":"units","layout":"linear","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"sectors":[{"val":0,"col":"#ff6666","t":"min","dot":1},{"val":500,"col":"#ffc880","t":"sec","dot":1},{"val":800,"col":"#95cb85","t":"sec","dot":2},{"val":1000,"col":"#95cb85","t":"max","dot":3}],"bgcolorFromTheme":true,"x":1600,"y":820,"wires":[]},{"id":"a6e70e67.da2b4","type":"function","z":"f33f0198.0718a","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":1040,"wires":[["8f765f97.5ada4"]]},{"id":"ae679168.252a9","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Temperature","tooltip":"","group":"b050d66b.e63e08","order":12,"width":2,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":1690,"y":440,"wires":[[]]},{"id":"56d6d3.4088092c","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"Humidity","tooltip":"","group":"b050d66b.e63e08","order":13,"width":2,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":1700,"y":400,"wires":[[]]},{"id":"4c70756.e768e8c","type":"ui_text_input","z":"f33f0198.0718a","name":"","label":"At. Pressure","tooltip":"","group":"b050d66b.e63e08","order":14,"width":2,"height":2,"passthru":true,"mode":"text","delay":300,"topic":"","x":1690,"y":360,"wires":[[]]},{"id":"1db3f833.26a3f8","type":"ui_template","z":"f33f0198.0718a","group":"b050d66b.e63e08","name":"Environmental Conditions","order":10,"width":8,"height":1,"format":"<p style=\"text-align: center;\"><b>Environmental Conditions</b></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1730,"y":320,"wires":[[]]},{"id":"19ef8112.5c1cef","type":"mqtt out","z":"f33f0198.0718a","name":"","topic":"sistca/machines/2/state/","qos":"0","retain":"false","broker":"5d9915f.6b33bec","x":530,"y":2060,"wires":[]},{"id":"ba16e685.ca0198","type":"ui_switch","z":"f33f0198.0718a","name":"","label":"State","tooltip":"","group":"f326f600.ece2c8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":2060,"wires":[["2a51b1c5.7811ee"]]},{"id":"9986c7ad.b43fb8","type":"inject","z":"ae349f74.527f1","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["d8611947.6b6db8"]]},{"id":"d8611947.6b6db8","type":"function","z":"ae349f74.527f1","name":"","func":"var rnb = Math.floor ( Math.random()*100);\n\nvar temp = 'On';\nif(rnb > 50); temp = 'Off';\nvar state = { payload: temp };\n\ntemp = rnb * 2;\nvar runs = { payload: temp };\n\ntemp = rnb;\nvar stops = { payload: temp };\n\ntemp = rnb * 10;\nvar production = { payload: temp };\n\ntemp = rnb;\nvar defects = { payload: rnb };\n\nreturn [ state, runs, stops, production, defects ];","outputs":5,"noerr":0,"x":320,"y":120,"wires":[["a2cd6f19.3824"],["d52287e4.14d308"],["b4b87d2d.beb83"],["ee95dbee.f00c68"],["be5f056b.54f1c8"]]},{"id":"a2cd6f19.3824","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/1/state","qos":"","retain":"","broker":"5d9915f.6b33bec","x":650,"y":40,"wires":[]},{"id":"d52287e4.14d308","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/1/onlinehours","qos":"","retain":"","broker":"5d9915f.6b33bec","x":670,"y":100,"wires":[]},{"id":"b4b87d2d.beb83","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/1/maintenancehours","qos":"","retain":"","broker":"5d9915f.6b33bec","x":690,"y":160,"wires":[]},{"id":"ee95dbee.f00c68","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/1/hourproduction","qos":"","retain":"","broker":"5d9915f.6b33bec","x":680,"y":220,"wires":[]},{"id":"be5f056b.54f1c8","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/1/percdefects","qos":"","retain":"","broker":"5d9915f.6b33bec","x":670,"y":280,"wires":[]},{"id":"43d9ed57.0bb034","type":"inject","z":"ae349f74.527f1","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.5","x":150,"y":440,"wires":[["8ac5f8d0.adf818"]]},{"id":"8ac5f8d0.adf818","type":"function","z":"ae349f74.527f1","name":"","func":"var rnb = Math.floor ( Math.random()*100);\n\nvar temp = 'On';\nif(rnb > 50); temp = 'Off';\nvar state = { payload: temp };\n\ntemp = rnb * 2;\nvar runs = { payload: temp };\n\ntemp = rnb;\nvar stops = { payload: temp };\n\ntemp = rnb * 10;\nvar production = { payload: temp };\n\ntemp = rnb;\nvar defects = { payload: rnb };\n\nreturn [ state, runs, stops, production, defects ];","outputs":5,"noerr":0,"x":320,"y":440,"wires":[["82ac1e97.de335"],["f20c05f4.d9c338"],["42696866.502d68"],["e21ad8a5.1dbf48"],["77c42daf.f7d6a4"]]},{"id":"82ac1e97.de335","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/2/state","qos":"","retain":"","broker":"5d9915f.6b33bec","x":650,"y":360,"wires":[]},{"id":"f20c05f4.d9c338","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/2/onlinehours","qos":"","retain":"","broker":"5d9915f.6b33bec","x":670,"y":420,"wires":[]},{"id":"42696866.502d68","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/2/maintenancehours","qos":"","retain":"","broker":"5d9915f.6b33bec","x":690,"y":480,"wires":[]},{"id":"e21ad8a5.1dbf48","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/2/hourproduction","qos":"","retain":"","broker":"5d9915f.6b33bec","x":680,"y":540,"wires":[]},{"id":"77c42daf.f7d6a4","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/2/percdefects","qos":"","retain":"","broker":"5d9915f.6b33bec","x":670,"y":600,"wires":[]},{"id":"f08f6a5e.970918","type":"inject","z":"ae349f74.527f1","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.7","x":150,"y":760,"wires":[["697bce64.8f5ca"]]},{"id":"697bce64.8f5ca","type":"function","z":"ae349f74.527f1","name":"","func":"var rnb = Math.floor ( Math.random()*100);\n\nvar temp = 'On';\nif(rnb > 50); temp = 'Off';\nvar state = { payload: temp };\n\ntemp = rnb * 2;\nvar runs = { payload: temp };\n\ntemp = rnb;\nvar stops = { payload: temp };\n\ntemp = rnb * 10;\nvar production = { payload: temp };\n\ntemp = rnb;\nvar defects = { payload: rnb };\n\nreturn [ state, runs, stops, production, defects ];","outputs":5,"noerr":0,"x":320,"y":760,"wires":[["8440463b.e51d78"],["1ce00de4.9b05f2"],["8d3cf82b.acc248"],["73deafc4.9046d"],["aaa8f0a8.eb076"]]},{"id":"8440463b.e51d78","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/3/state","qos":"","retain":"","broker":"5d9915f.6b33bec","x":650,"y":680,"wires":[]},{"id":"1ce00de4.9b05f2","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/3/onlinehours","qos":"","retain":"","broker":"5d9915f.6b33bec","x":670,"y":740,"wires":[]},{"id":"8d3cf82b.acc248","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/3/maintenancehours","qos":"","retain":"","broker":"5d9915f.6b33bec","x":690,"y":800,"wires":[]},{"id":"73deafc4.9046d","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/3/hourproduction","qos":"","retain":"","broker":"5d9915f.6b33bec","x":680,"y":860,"wires":[]},{"id":"aaa8f0a8.eb076","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/3/percdefects","qos":"","retain":"","broker":"5d9915f.6b33bec","x":670,"y":920,"wires":[]},{"id":"a471e3f8.f531b","type":"inject","z":"ae349f74.527f1","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.3","x":150,"y":1060,"wires":[["9a04634.6b714a"]]},{"id":"9a04634.6b714a","type":"function","z":"ae349f74.527f1","name":"","func":"var rnb = Math.floor ( Math.random()*100);\n\nvar temp = 'On';\nif(rnb > 50); temp = 'Off';\nvar state = { payload: temp };\n\ntemp = rnb * 2;\nvar runs = { payload: temp };\n\ntemp = rnb;\nvar stops = { payload: temp };\n\ntemp = rnb * 10;\nvar production = { payload: temp };\n\ntemp = rnb;\nvar defects = { payload: rnb };\n\nreturn [ state, runs, stops, production, defects ];","outputs":5,"noerr":0,"x":320,"y":1060,"wires":[["f12faaba.0b8388"],["a06f08b2.20c178"],["7a284a57.575954"],["98b98886.649528"],["cbecca53.2f0708"]]},{"id":"f12faaba.0b8388","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/4/state","qos":"","retain":"","broker":"5d9915f.6b33bec","x":650,"y":980,"wires":[]},{"id":"a06f08b2.20c178","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/4/onlinehours","qos":"","retain":"","broker":"5d9915f.6b33bec","x":670,"y":1040,"wires":[]},{"id":"7a284a57.575954","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/4/maintenancehours","qos":"","retain":"","broker":"5d9915f.6b33bec","x":690,"y":1100,"wires":[]},{"id":"98b98886.649528","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/4/hourproduction","qos":"","retain":"","broker":"5d9915f.6b33bec","x":680,"y":1160,"wires":[]},{"id":"cbecca53.2f0708","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/4/percdefects","qos":"","retain":"","broker":"5d9915f.6b33bec","x":670,"y":1220,"wires":[]},{"id":"20a391fa.ef063e","type":"inject","z":"ae349f74.527f1","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.3","x":150,"y":1400,"wires":[["f67c2385.c7f02"]]},{"id":"f67c2385.c7f02","type":"function","z":"ae349f74.527f1","name":"","func":"msg.payload = {\n  \"machinesdata\": [\n    {\n      \"id\": 1,\n      \"state\": \"On\",\n      \"onlinehours\": 145,\n      \"maintenancehours\": 12,\n      \"hourproduction\": 89,\n      \"percdefects\": 10\n    },\n    {\n      \"id\": 2,\n      \"state\": \"On\",\n      \"onlinehours\": 751,\n      \"maintenancehours\": 33,\n      \"hourproduction\": 89,\n      \"percdefects\": 6\n    },\n    {\n      \"id\": 3,\n      \"state\": \"Off\",\n      \"onlinehours\": 0,\n      \"maintenancehours\": 55,\n      \"hourproduction\": 0,\n      \"percdefects\": 0\n    },\n    {\n      \"id\": 4,\n      \"state\": \"On\",\n      \"onlinehours\": 20,\n      \"maintenancehours\": 0,\n      \"hourproduction\": 66,\n      \"percdefects\": 12\n    }\n  ],\n  \"factorydata\": {\n    \"temperature\": 21,\n    \"humidity\": 70,\n    \"pressure\": 1023\n  },\n  \"update\": 1588021475069\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1400,"wires":[["3b0c51e3.de8f9e"]]},{"id":"3b0c51e3.de8f9e","type":"mqtt out","z":"ae349f74.527f1","name":"","topic":"sistca/tutorial/machines/alldata","qos":"","retain":"","broker":"5d9915f.6b33bec","x":650,"y":1400,"wires":[]},{"id":"cb5c7eae.a98cb","type":"ui_media","z":"f33f0198.0718a","group":"7a26c9fa.012e38","name":"","width":12,"height":6,"order":4,"category":"video","file":"video2.mp4","layout":"adjust","showcontrols":true,"loop":false,"onstart":true,"scope":"local","tooltip":"","x":110,"y":2401,"wires":[[]]},{"id":"44bd8120.acf6f","type":"mqtt in","z":"f33f0198.0718a","name":"","topic":"sistca/machines/alldata","qos":"0","datatype":"auto","broker":"5d9915f.6b33bec","x":1060,"y":1180,"wires":[["86c31943.8a61a8","45852c46.7e16d4"]]},{"id":"86c31943.8a61a8","type":"json","z":"f33f0198.0718a","name":"","property":"payload","action":"","pretty":false,"x":1280,"y":1180,"wires":[["45852c46.7e16d4","5f54cbb8.be8434"]]},{"id":"45852c46.7e16d4","type":"debug","z":"f33f0198.0718a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":1100,"wires":[]},{"id":"5f54cbb8.be8434","type":"function","z":"f33f0198.0718a","name":"","func":"var id = msg.payload.machinesdata.id;\n\nif(id == 1) return [msg, null];\n\nif(id == 2) return [null, msg];\n\nreturn null;","outputs":2,"noerr":0,"x":1280,"y":1280,"wires":[["a2febd9e.1f188","cbade585.e1b3b8"],["e51c0a49.08d978"]]},{"id":"a2febd9e.1f188","type":"debug","z":"f33f0198.0718a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":1280,"wires":[]},{"id":"cbade585.e1b3b8","type":"function","z":"f33f0198.0718a","name":"","func":"var state = { payload: msg.payload.machinesdata.state };\nvar onlinehours = { payload: msg.payload.machinesdata.onlinehours };\nvar maintenancehours = { payload: msg.payload.machinesdata.hourproduction };\nvar hourproduction = { payload: msg.payload.machinesdata.hourproduction };\nvar percdefects = { payload: msg.payload.machinesdata.percdefects };\n\nreturn [ state, onlinehours, maintenancehours, hourproduction, percdefects ];","outputs":5,"noerr":0,"x":1410,"y":1360,"wires":[["854ad64b.ae546","d6a4ba9d.893248"],["5cf1186d.b0cc68"],["c2b7e4a3.45bcf8"],["faed162f.3070e8"],["aff0b368.005f4"]]},{"id":"e51c0a49.08d978","type":"function","z":"f33f0198.0718a","name":"","func":"var state = { payload: msg.payload.machinesdata.state };\nvar onlinehours = { payload: msg.payload.machinesdata.onlinehours };\nvar maintenancehours = { payload: msg.payload.machinesdata.hourproduction };\nvar hourproduction = { payload: msg.payload.machinesdata.hourproduction };\nvar percdefects = { payload: msg.payload.machinesdata.percdefects };\n\nreturn [ state, onlinehours, maintenancehours, hourproduction, percdefects ];","outputs":5,"noerr":0,"x":1410,"y":1440,"wires":[["1eef7dd3.ec3d62","3f304de.11b0fb2"],["3da3ef77.7728b"],["63c1130c.e6be0c"],["1a51924c.d5b0ae"],["8f765f97.5ada4"]]},{"id":"d6a4ba9d.893248","type":"change","z":"f33f0198.0718a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"On","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":1340,"wires":[["d5e98a16.1d20a"]]},{"id":"8de4fcf9.a65f9","type":"change","z":"f33f0198.0718a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"On","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1980,"wires":[["b21d531b.def5d"]]},{"id":"3f304de.11b0fb2","type":"change","z":"f33f0198.0718a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"On","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":1420,"wires":[["ba16e685.ca0198"]]},{"id":"2a51b1c5.7811ee","type":"change","z":"f33f0198.0718a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"On","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2060,"wires":[["19ef8112.5c1cef"]]}]